body {
    background-image: url('../images/todolist_bg.png');
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/**************START INDEX*****************/
#connexion-box {
    background-color: transparent;
    display: grid;
    grid-template-rows: 15% 1fr 20%;
    grid-gap: 5px;
    box-shadow: 2px 4px 4px 2px;
    margin: auto;
    width: fit-content;
    padding: 0 50px;
    height: 400px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    h1 {
        margin: 0;
        border-bottom: 2px solid black;
        border-radius: inherit;
        text-align: center;
        padding-top: 8px;
        font-style: italic;
    }

    form {
        margin: auto;
        text-align: center;
        
        button {
            background-color: transparent;
            padding: 10px 5px;
            border-radius: 10px;
            border: 0.2px solid black;
            margin-top: 20px;
            font-size: 1em;
            transition: 0.2s;
        }
        button:hover {
            background-color: whitesmoke;
            padding: 15px 8px;
            cursor: pointer;
        }
    }
    label {
        font-size: 1.3rem;
    }

    input {
        height: 30px;
        width: 250px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: whitesmoke;
    }

    span {
        margin: 0 auto;
        text-align: center;   
    }
}

@media (max-width: 480px) {
    body {
        margin: 0;
    }
    #connexion-box {
        width: fit-content;
        input {
            width: 100%;
        }
    }
}


/**************START INSCRIPTION*****************/