body {
    background-image: url('../images/todolist_bg.png');
    background-size:contain;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 70px;
    float: left;
}


.button_class {
            background-color: #f5f5f5;
            padding: 12px 10px;
            border-radius: 20px;
            border: none;
            margin-top: 20px;
            font-size: 1em;
            transition: 0.15s;
        }
        .button_class:hover {
            background-color: #5c9e5c;
            cursor: pointer;
        }

/**************START INDEX-INSCRIPTION*****************/
#logo {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}
#connexion-box {
    background-color: transparent;
    display: grid;
    grid-template-rows: 60px 1fr 20%;
    grid-gap: 5px;
    box-shadow: 2px 4px 4px 2px;
    margin: auto;
    width: fit-content;
    padding: 0 50px 20px 50px;
    height: fit-content;
    border-radius: 10px;

    h1 {
        margin: 5px 0 0 0;
        border-bottom: 2px solid black;
        border-radius: inherit;
        text-align: center;
        padding-top: 8px;
        font-style: italic;
    }

    form {
        margin: auto;
        text-align: center;
    }
    label {
        font-size: 1.3rem;
    }

    input {
        height: 30px;
        width: 250px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: whitesmoke;
        padding: 3px 10px;
        font-size: 1.1rem;
    }

    span {
        margin: 0 auto;
        text-align: center;   
    }
    a {
        font-style: italic;
        text-decoration: underline;
    }
    a:hover {
        color: #59a572;
    }
}

@media (max-width: 480px) {
    #connexion-box {
        width: 55vw;
        input {
            width: 100%;
        }
        p {
            margin-block: 5px;
        }
    }
}

/**************START TASK*****************/
#task-header {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;

    button {
        margin: 0;
    }
}

#container {
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color: #67b37fb9;
    min-width: fit-content;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 20px;
    position: relative;

    #sidebar {
        display: grid;
        border-radius: 20px 0 0 20px;
        background-color: #a8d5a8;
        grid-template-rows: auto 120px 1fr;
        overflow: hidden;
        box-shadow: 1px 0.5px 1px 0 #f5f5f5;
        width: 250px;
    }

    #menu {
        display: none;
        width: 40px;
        position: absolute;
        background-color: transparent;
        margin: 10px 0 0 10px;
        border: none;
        span {
            display: block;
            border-top: 3px solid black;
            margin: 4px;
        }
    }
    #menu:hover {
        cursor: pointer;
        span {
            border-color: #e0e0e0;
        }
    }

    #profil {
        display: grid;
        grid-template-rows: 1fr 10px;
        
        img {
            margin: auto;
            margin-block: 40px 0;
            width: 80px;
            border-radius: 50%;
            border: 3px solid #e0e0e0;
            padding: 10px;
        }
        p {
            margin: auto;
            margin-top: 10px;
        }
    }

    #navbar {
        margin-top: 80px;
        width: 100%;
        font-size: 1.1rem;
        
        ul {
            padding: 0;
        }

        li {
            margin: 10px 30px;
            padding: 15px;
            border-radius: 20px;
            transition: .15s;
        }
        li:hover {
            background-color: #e0e0e0;
            font-size: 1.2rem;
            padding-left: 25px;
            cursor: pointer;
        }
        li:active {
            border: 2px solid #67b37fb9;
            background-color: transparent;
        }
    }

    main {
        display: grid;
        grid-template-rows: 150px 80px 1fr;
        align-items: center;
        
        div:nth-child(1) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-inline: 20px;
        }
        
        form {
            margin: auto;
            width: 80%;
            min-width: fit-content;
            height: 100%;
            background-color: #f5f5f5;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 1fr 80px;
            grid-gap: 10px;
            align-items: center;
            padding-inline: 20px;

            input {
                height: 30px;
                border: 1px solid black;
                border-radius: 20px;
                background-color: whitesmoke;
                padding: 3px 10px;
                font-size: 1.1rem;
            }

            button {
                background-color: #71d994;
                padding: 10px;
                border: none;
                border-radius: 15px;
            }
            button:hover {
                background-color: #4aad6b;
                cursor: pointer;
            }
        }

        .infos-style {
            background-color: #f5f5f5;
            padding: 30px 20px;
            border-radius: 20px;
            width: 35%;
            text-align: center;
            font-size: 1.2rem;
        }
        #task-container {
            display: grid;
            grid-template-rows: 50px 1fr;
            background-color: #f5f5f5;
            margin: auto;
            height: 80%;
            max-height: 290px;
            width: 85%;
            border-radius: 20px;
            overflow-y: auto;

            p {
                background-color: inherit;
                margin: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.277);
                border-radius: 5px;
                padding-left: 10px;
                position: sticky;
                top: 0;
            }
            ul {
                margin: 0;
                padding: 0;
            }
            li {
                margin-inline: 10px;
                margin-bottom: 10px;
                border-bottom: 0.1px solid rgba(0, 0, 0, 0.048);
                border-radius: 5px;
                padding: 8px;
                display: grid;
                grid-template-columns: 1fr auto;
            }
            li:hover {
                background-color: #a8d5a8;
            }
        }
    }
}

@media (max-width: 768px) {
    #container {
        grid-template-columns: 1fr;
        #sidebar {
            width: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%; 
            z-index: 5000;
            transition: 0.2s;
        }
        #sidebar.show {
            width: 250px;
        }
        #menu {
            display: block;
            z-index: 10000;
        }
    }
}