body {
    background-image: url('../images/todolist_bg.png');
    background-size:contain;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    width: 70px;
    float: left;
}

.button_class {
            background-color: transparent;
            padding: 10px 5px;
            border-radius: 10px;
            border: 0.2px solid black;
            margin-top: 20px;
            font-size: 1em;
            transition: 0.2s;
        }
        .button_class:hover {
            background-color: whitesmoke;
            padding: 15px 8px;
            cursor: pointer;
        }

/**************START INDEX-INSCRIPTION*****************/
#logo {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}
#connexion-box {
    background-color: transparent;
    display: grid;
    grid-template-rows: 60px 1fr 20%;
    grid-gap: 5px;
    box-shadow: 2px 4px 4px 2px;
    margin: auto;
    width: fit-content;
    padding: 0 50px 20px 50px;
    height: fit-content;
    border-radius: 10px;

    h1 {
        margin: 5px 0 0 0;
        border-bottom: 2px solid black;
        border-radius: inherit;
        text-align: center;
        padding-top: 8px;
        font-style: italic;
    }

    form {
        margin: auto;
        text-align: center;
    }
    label {
        font-size: 1.3rem;
    }

    input {
        height: 30px;
        width: 250px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: whitesmoke;
        padding: 3px 10px;
        font-size: 1.1rem;
    }

    span {
        margin: 0 auto;
        text-align: center;   
    }
}

@media (max-width: 480px) {
    #connexion-box {
        width: 55vw;
        input {
            width: 100%;
        }
        p {
            margin-block: 5px;
        }
    }
}

/**************START TASK*****************/
#task-header {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;

    button {
        margin: 0;
    }
}

#container {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: transparent;
    min-width: fit-content;
    width: 80%;
    height: 80%;
    margin: auto;
    box-shadow: 2px 4px 4px 2px;
    border-radius: 20px;

    #sidebar {
        border-radius: 20px 0 0 20px;
        background-color: rgb(219, 255, 189);
        display: grid;
        grid-template-rows: 120px 1fr;
    }

    #profil {
        display: grid;
        grid-template-rows: 1fr 10px;
        
        img {
            margin: auto;
            margin-bottom: 0;
            width: 80px;
            border-radius: 50%;
            box-shadow: 0.5px 0 1px 1px;
            padding: 10px;
        }
        p {
            margin: auto;
            margin-top: 10px;
        }
    }

    #navbar {
        margin-top: 80px;
    }
}