{% extends "base.html" %}

{% block head %}
<title>todo-list</title>
{% endblock %}

{% block header %}
<header id="task-header">
    <figure id="logo">
        <img src="{{url_for('static', filename='images/logo.svg')}}" alt="">
        <h1>TODO</h1>
    </figure>
    <a href="/deconnexion"><button type="submit" class="button_class">Déconnexion</button></a>
</header>
{% endblock %}

{% block body %}
<div id="container">
    <section id="sidebar">
        <figure id="profil">
            <img src="{{url_for('static', filename='images/default_profil.svg')}}" alt="photo de profil">
            <p id="nom">{{username}}</p>
        </figure>
        <nav id="navbar">
            <ul>
                <li><a href="#">Tâches</a></li>
                <li><a href="#">Historique</a></li>
                <li><a href="#">Paramètres</a></li>
            </ul>
        </nav>
    </section>
    <main>
        <div>
            <section class="infos-style">{{today_date}}</section>
            <section class="infos-style"><span id="nombres_taches">{{task_list | length}}</span> taches en cours</section>
        </div>
        <form action="ajouter_tache" method="post">
            <input type="text" name="tache" id="tache" placeholder="Ajouter une nouvelle tâche">
            <button type="submit">Ajouter</button>
        </form>
        <div id="task-container">
            <p>Mes tâches:</p>
            <section>
                {% if task_list|length < 1 %}
                    Aucunes tâches à afficher.
                {% else %}
                <ul>
                    {% for task in task_list %}
                    <li>{{task.content}} <span>{{task.date_created}}</span></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>
        </div>
    </main>

</div>
{% endblock %}